.footer {
  background: #eee;
  display: flex;
  justify-content: center;
}

.footer__container {
  width: 12rem;
  margin: 1.5rem 0;
}

.footer__header {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.footer__icons {
  display: flex;
  justify-content: space-around;
}

.footer__link {
  padding: 1rem;
}

.footer__icon {
  height: 1.5rem;
}
